################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeckOfCards.API/.vs/DeckOfCards.API/v15
/DeckOfCards.API/DeckOfCards.API/obj
/DeckOfCards.API/.vs/config/applicationhost.config
/DeckOfCards.API/DeckOfCards.API/bin/Debug/netcoreapp2.0
*.user
/DeckOfCards.API/DeckOfCards.API/bin/Release/netcoreapp2.0
